# MongoDB Atlas Connection
ATLAS_CONNECTION_STRING=mongodb+srv://username:password@cluster.mongodb.net/
ATLAS_DATABASE=kafka_data
ATLAS_TIME_SERIES_RANGE_COLLECTION=events_ts_range
ATLAS_TIME_SERIES_HASH_COLLECTION=events_ts_hash

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=events
KAFKA_TOPIC_PARTITIONS=10

# Producer Configuration
PRODUCER_BATCH_SIZE=100
PRODUCER_INTERVAL_SECONDS=2
PRODUCER_PARTITIONS=3
PRODUCER_TOTAL_MESSAGES=10000000

# Kafka Connect Configuration
KAFKA_CONNECT_HOST=localhost
KAFKA_CONNECT_PORT=8083
CONNECTOR_NAME=atlas-sink-connector

#SINK CONNECTOR CONFIG
MAX_TASKS=10
DEPLOY_TS_RANGE_CONNECTOR=true
DEPLOY_TS_HASH_CONNECTOR=true
